body{
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #5E5B5BAD;
    color: #333333;
}

body.modo-escuro{
    background-color: #212121;
    color: #F5F5F5;
}

header{
    background-color: green;
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-between;
    padding: 25px;
}

header .logo, 
header .imagem-botao{ /*Estilizando classes*/
    width: 30px;
}

header #botao-alterar-tema{ /*Estilizando IDs*/
    background: none;
    border: none;
    cursor: pointer;
}